footer.page-footer
  div.container
    div.row
      div.col.s12.l8
        h5.white-text Test Client Site
        p.grey-text.text-lighten-4 Brisket pig ham, pancetta capicola drumstick beef ribs biltong shankle ham hock. Pastrami ham hock chicken flank chuck hamburger swine kielbasa drumstick landjaeger capicola short loin ham. Short ribs brisket frankfurter, ribeye venison meatloaf beef corned beef drumstick. Beef ribs tail turkey pork loin ribeye cupim, pastrami drumstick shoulder jowl bresaola fatback turducken.
      div.col.s12.l4
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3(href='#') Help
          li
            a.grey-text.text-lighten-3(href='#') Privacy & Terms
  div.footer-copyright
    div.container
      | © 2016 Copyright Eloqua
      a.grey-text.text-lighten-4.right(href='#') Link

