extends layout

block content
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
      div.mdl-layout__header-row
        span.mdl.layout-title #{title}
        div.mdl-layout-spacer
         nav.mdl-navigation.mdl-layout--large-screen-only
           a.mdl-navigation__link(href="") Home
           a.mdl-navigation__link(href="") First
           a.mdl-navigation__link(href="") Second
           a.mdl-navigation__link(href="") Third
    main.mdl-layout__content
      div.page-content
       p Hi there


